# WireGuard (wg-easy)
TZ=UTC
WG_HOST=192.168.254.135
WG_PORT=51820
WG_DEFAULT_DNS=1.1.1.1
WG_PASSWORD=password123

# WSS wrapper settings
WSS_PORT=443
WSS_UDP_TIMEOUT=30
WST_LOG_LEVEL=info
WSS_DOMAIN=kr.china-embassy.gov.cn
WSS_SELF_SIGNED_DAYS=365
